{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }} :: {{ block.super }}{% endblock %}
{% block page_title %}
    Add
{% endblock page_title %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
Write Remember
  <form class="form" method="post">{% csrf_token %}

    <div class="form-group">
      {{ form.remember }}
    </div>
   <!-- https://stackoverflow.com/questions/2902008/django-how-do-i-add-arbitrary-htm
l-attributes-to-input-fields-on-a-form -->
      <div class="form-group">
        <label>Tags</label>
        <input type="text" data-role="tagsinput" class="form-control" name="tags">
      </div>
      <p>Common Tags: 
      {% for mt in common_tags %}
      <a href="#" class="badge badge-success">{{mt}}</a>
      {% endfor %}
      </p>
    <div class="form-group">
      <button class="btn btn-success">
        <i class="save icon"></i> Save Post
      </button>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>

  <script>
    $('form [name="remember"]').attr({
      'class': 'form-control',
      'placeholder': 'Remember'
    });
  </script>
{% endblock %}
