{% extends "base.html" %}
{% load static %}
{% load martortags %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock css %}

{% block content %}

    {% if user.is_authenticated %}

    {% if remembers.count != 0 %}
            tags: 
            {% for tag in common_tags %}
            <a href="{% url 'remembers:tagged' tag.slug %}?filter=active">{{tag}}</a>
            {% endfor %}
        {% endif %}

        <div style="margin: 30px">
            {% for remember in remembers  %}
                <div style="box-sizing: border-box;width: 100%;border: solid #5B6DCD 1px;padding: 5px;" class="remember_{{remember.id}}">
                    {% comment %} <h3>{{remember.stage}}</h3> 
                    <h3>{{remember.showing_date}}</h3> {% endcomment %}
                    {% for tag in remember.tags.all %}
                        <a href="{% url 'remembers:tagged' tag.slug %}?filter=active" class="badge badge-info" >{{ tag }}</a>
                    {% endfor %}
                    
                    {{ remember.remember |safe_markdown }}
                    <a href="/remembers/edit/{{remember.id}}/">Edit</a>
                    <a href="/remembers/delete/{{remember.id}}/">Delete</a>

                    <button id="{{remember.id}}" type="button" onclick="remember(this.id)">Remember</button>
                    <button id="{{remember.id}}" type="button" onclick="opps(this.id)">opps</button>
                </div>
                <!-- <hr style="border: solid #dedede; border-width: 10px 0 0;"> -->

                {% empty %}
                    Perfect! No Remember.
            {% endfor %}
        </div>
    {% else %}
        {% include "introduction.html" %}
    {% endif %}

    
    {% if page_obj.has_next  %}
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

{% endblock content %}


{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>

<script>


    function remember(id) {
        console.log(id)
        $.ajax({
          type: "POST",
          url: "{% url 'remembers:ok' %}",
          //dataType: "json",
          data: {
              "id": id
          },
          success: function(data) {
            //alert("success")
             console.log(data);
             remember_class = `remember_${id}`
             console.log(remember_class)
             //box = document.getElementsByClassName("remember_class");
             $('.' + remember_class).hide()
             //box.style.display="none";
          },
        error: function () {
            alert("error")
        },

      });
    }

    function opps(id) {
        console.log(id)
        $.ajax({
          type: "POST",
          url: "{% url 'remembers:ng' %}",
          //dataType: "json",
          data: {
              "id": id
          },
          success: function(data) {
            //alert("success")
             console.log(data);
             remember_class = `remember_${id}`
             console.log(remember_class)
             //box = document.getElementsByClassName("remember_class");
             $('.' + remember_class).hide()
             //box.style.display="none";
          },
        error: function () {
            alert("error")
        },

      });
    }

</script>
  {% endblock %}






