{% extends "base.html" %}


{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    {% if user.is_authenticated %}

        tags: 
        {% for tag in common_tags %}
        <a href="{% url 'remembers:tagged' tag.slug %}">{{tag}}</a>
        {% endfor %}

        {% for remember in remembers  %}
            {% comment %} <h2>{{remember.remember}}</h2>
            <h3>{{remember.stage}}</h3> 
            <h3>{{remember.showing_date}}</h3> {% endcomment %}

            
            {% include "editorjs__.html" %}

        {% empty %}
            <li> no data <li>
        {% endfor %}
    {% else %}
        {% include "introduction.html" %}
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    
    {% if page_obj.has_next  %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

{% endblock content %}

