<section id="post-body"></section>
           
<script>
    //const div = document.createElement('div');

  window.addEventListener("DOMContentLoaded", () => {
    const postBody = document.getElementById("post-body");

    console.log("{{remember.remember|escapejs}}");
    let body = JSON.parse("{{remember.remember|escapejs}}");
    let blocks = body.blocks;
    console.log(blocks.length);

    // to seperate each remember
    let box = document.createElement("div");
    box.className = "{{remember}}";
    box.style.display="block";
    box.style.border = "1px solid";
    postBody.appendChild(box);

    // 
    let showing_date = document.createElement(`h4`);
    let stage = document.createElement('h4');
    showing_date.textContent = "Showing Date : {{remember.showing_date}}";

    {% if remember.stage == "7" %}
      stage.textContent = "Stage : 1 Week";
    {% elif remember.stage == "14" %}
      stage.textContent = "Stage : 14 Week";
    {% elif remember.stage == "30" %}
      stage.textContent = "Stage : 1 Month";
    {% elif remember.stage == "60" %}
      stage.textContent = "Stage : 2 Month";
    {% elif remember.stage == "90" %}
      stage.textContent = "Stage : 3 Month";
    {% elif remember.stage == "180" %}
      stage.textContent = "Stage : 6 Month";
    {% else %}
      stage.textContent = "Stage: {{remember.stage}}";      
    {% endif %}
    
    console.log("{{remember.showing_date}}");
    console.log("{{remember.id}}");
    box.appendChild(showing_date);
    box.appendChild(stage);

    // Remember Button
    let remember_btn = document.createElement("input");
    remember_btn.value = "Remember";
    remember_btn.type = "button";
    remember_btn.id = "rememberBtn";
    remember_btn.onclick = function () {
      data = {test:'ok'}
      console.log( 'remember btn clicked {{remember.id}}' );

      // div remember hide
      box.style.display="none";

      const XHR = new XMLHttpRequest();

      let urlEncodedData = "",
          urlEncodedDataPairs = [],
          name;

      // Turn the data object into an array of URL-encoded key/value pairs.
      for( name in data ) {
        urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
      }

      // Combine the pairs into a single string and replace all %-encoded spaces to
      // the '+' character; matches the behavior of browser form submissions.
      urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

      // Define what happens on successful data submission
      XHR.addEventListener( 'load', function(event) {
        //alert( 'Yeah! Data sent and response loaded.' );
      } );

      // Define what happens in case of error
      XHR.addEventListener( 'error', function(event) {
        alert( 'Oops! Something went wrong.' );
      } );

      // Set up our request

      XHR.open( 'POST', "{% url 'remembers:ok' remember.id %}" );

      // Add the required HTTP header for form data POST requests
      XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

      // Finally, send our data.
      XHR.send( urlEncodedData );
      
    };

    box.appendChild(remember_btn);

    
    let opps_btn = document.createElement("button");
    opps_btn.innerHTML = "Opps";
    box.appendChild(opps_btn);
    opps_btn.onclick = function () {
      data = {test:'ok'}
      console.log( 'opps_btn btn clicked {{remember.id}}' );

      const XHR = new XMLHttpRequest();

      XHR.addEventListener( 'load', function(event) {
        //alert( 'Yeah! Data sent and response loaded.' );
      } );

      XHR.addEventListener( 'error', function(event) {
        alert( 'Oops! Something went wrong.' );
      } );

      XHR.open( 'POST', "/remembers/{{remember.id}}/ng/" );

      XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

      XHR.send();
      
    };

    // EditorJS
    for (let index = 0; index <= blocks.length; index++) {
      console.log(blocks[index].type, blocks[index], index);

      switch (blocks[index].type) {
        case "Header":
          let head = document.createElement(`h${blocks[index].data.level}`);
          head.textContent = blocks[index].data.text;
          box.appendChild(head);
          break;

        case "Image":
          let div = document.createElement("div");
          let image = document.createElement("img");
          let caption = document.createElement("small");
          image.src = `${blocks[index].data.file.url}`;
          image.style = "margin-top:10px;";
          image.height = 200;
          image.width = 200;
          caption.textContent = blocks[index].data.caption;
          caption.style = "margin-top:5px;";
          div.appendChild(image);
          div.appendChild(caption);
          div.style = "width:30%;display:grid;place-items:center";
          box.appendChild(div);
          break;

        case "List":
          let list;
          if (blocks[index].data.style == "unordered") {
            list = document.createElement("ul");
          } else {
            list = document.createElement("ol");
          }
          for (const item in blocks[index].data.items) {
            let li = document.createElement("li");
            li.textContent = blocks[index].data.items[item];
            list.appendChild(li);
          }
          box.appendChild(list);
          break;

        case "Raw":
          let blockquote = document.createElement("blockquote");
          let code = document.createElement("code");
          let pre = document.createElement("pre");
          pre.textContent = blocks[index].data.html;
          pre.style.background = "#131313";
          pre.style.color = "#dddddd";
          pre.style.padding = "15px";
          code.appendChild(pre);
          box.appendChild(code);
          break;

        case "Attaches":
          let parent = document.createElement("div");
          parent.style =
            "margin-top:10px;width:30%; padding:10px; border:1px solid black;border-radius:8px;";
          let a = document.createElement("a");
          let name = document.createElement("h4");
          a.href = `${blocks[index].data.file.url}`;
          a.textContent = `Download ${blocks[index].data.file.extension} (${
            blocks[index].data.file.size / 1000
          } kb)`;
          a.style = "grid-column: 1 / span 2";
          name.textContent = blocks[index].data.file.name;

          parent.appendChild(name);
          parent.appendChild(a);

          box.appendChild(parent);
          break;

        case "paragraph":
          const p = document.createElement("p");
          p.innerHTML = blocks[index].data.text;
          box.appendChild(p);
          break;

        case "Link":
          let parent2 = document.createElement("div");
          let a2 = document.createElement("a");
          parent2.style =
            " margin-top:10px; width:30%;display:grid; grid-template-columns: 1fr 50px; padding:10px; border:1px solid black;border-radius:8px;";

          if (blocks[index].data.meta.title) {
            let title = document.createElement("p");
            title.textContent = blocks[index].data.meta.title;
            parent2.appendChild(title);
          }
          if (blocks[index].data.meta.image.url !== "") {
            let parent3 = document.createElement("div");
            let img = document.createElement("img");

            img.src = blocks[index].data.meta.image.url;
            parent3.style = " display:grid;place-items:center";

            img.height = 40;
            img.width = 40;
            parent3.appendChild(img);
            parent2.appendChild(parent3);
          }

          if (blocks[index].data.meta.description) {
            let desc = document.createElement("small");
            desc.style = "grid-column: 1 / span 2";
            desc.textContent = blocks[index].data.meta.description;
            parent2.appendChild(desc);
          }
          a2.style = "text-decoration:none;color:black";
          a2.href = blocks[index].data.link;
          a2.appendChild(parent2);
          box.appendChild(a2);
          break;

        default:
          break;
      }
    }
  });
</script>
